.main {
  position: absolute;
  top: 5%;
  left: 38%;
  background-color: rgba(54, 52, 52, 0.5);

  border-radius: 28px;
  padding: 20px;
  border: none;
  box-shadow: 20px 20px 50px grey;
}
body {
  background: url(https://i.pinimg.com/originals/d6/64/a4/d664a4e1a33c09e90e73ce32d49c6ac0.jpg)
    no-repeat;
  background-size: cover;
}
h1 {
  padding-left: 55px;
  color: white;
  text-shadow: #fc0 1px 0 10px;
}
label {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 2px grey;
}
textarea {
  border: 1px solid;
  background: transparent;
  color: rgba(255, 255, 255, 0.911);
}
input {
  border: none;
  background: transparent;
  color: white;
}
::placeholder {
  color: white;
}
.under {
  border-bottom: 1px solid white;
}
.btn2 {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #729cb8;
  padding: 9px 20px 10px 20px;
  border: solid #7795a8 3px;
  text-decoration: none;
  margin-left: 100px;
}
.btn {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #729cb8;
  padding: 9px 20px 10px 20px;
  border: solid #7795a8 3px;
  text-decoration: none;
}
